<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <h1>Welcome to the Oscars Database</h1>
    <ul>
        <li><a href="/films/">List of Films: {{ stats.n_films }}</a></li>
        <li><a href="/nominees/">List of Nominees: {{ stats.n_nominees }}</a></li>
        <li><a href="/categories/">List of Categories: {{ stats.n_categories }}</a></li>
        <li><a href="/ceremonies/">List of Ceremonies: {{ stats.n_ceremonies }}</a></li>
    </ul>

    <h2>Search for a Winner</h2>
    <p>Looking for the winner of a specific category and year? Use our search tool:</p>
    <a href="/search_winner">Search Winner</a>

    <h2>Search for the Movie with the Most Oscars in a Year</h2>
    <a href="/search_most_awarded">Search Most Awarded Movie</a>

    <h2>Records</h2>
    <h3>Films with the Most Oscars</h3>
    <ul>
        {% for film in most_film_oscars %}
        <li>{{ film.name }} - {{ film.oscars }} Oscars</li>
        {% endfor %}
    </ul>
    <h3>Top 10 Films with the Most Nominations</h3>
    <ul>
        {% for film in most_nominations_films %}
        <li>{{ film.film }} - {{ film.nominations }} nominations</li>
        {% endfor %}
    </ul>
    <h3>Most Awarded Person</h3>
    <ul>
        <li>{{ most_awarded_person.name }} - {{ most_awarded_person.oscars }} Oscars</li>
    </ul>
    <h3>Most Awarded Company</h3>
    <ul>
        <li>{{ most_awarded_company.name }} - {{ most_awarded_company.oscars }} Oscars</li>
    </ul>
</body>
</html>
