<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ nominee.name }}</title>
</head>
<body>
    <h1>{{ nominee.name }}</h1>
    <p>{{ nominee.percomp }}</p>
    <h2>Nominations</h2>
    <ul>
        {% for nomination in nominations %}
        <li>{{ nomination.category_name }} - {% if nomination.winner %}<strong>Winner</strong>{% else %}Nominee{% endif %}</li>
        {% endfor %}
    </ul>
    <button onclick="window.history.back()">Go Back</button>

</body>
</html>
